body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
    color: #f4f4f4;
}

input[type="text"], input[type="number"] {
    color: #333;
}

input[type="text"].dark-mode, input[type="number"].dark-mode {
    color: #f4f4f4;
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

.light {
    background: #f4f4f4;
    color: #333;
}

.dark {
    background: #333;
    color: #f4f4f4;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

input {
    color: inherit;
}
